@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --backRed: rgb(247, 87, 87);
  --backBlue: rgb(13, 36, 90);
  line-height: 1.5;
  font-family: "Hind", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.bg-backRed {
  background-color: var(--backRed);
}
.bg-backBlue {
  background-color: var(--backBlue);
}

.textRed {
  color: var(--backRed);
}

.textBlue {
  color: var(--backBlue);
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

/* HERO - SLIDER */
.slider {
  background: url("/back-top.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-item {
  font-size: 60px !important;
  line-height: 60px !important;
}

/* CTA */
.cta {
  background: url("/background-english.jpg") fixed;
  background-position: 50% 50%;
  background-size: cover;
  padding: 120px 0px;
}

/* BUTTOM */
.btn {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8125rem;
  font-weight: 500;
  padding: 1rem 2.5rem 0.8rem;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.3s;
}

.btn-icon {
  color: #fff;
  transition: all 0.2s ease;
}
.btn-icon:hover,
.btn-small:hover,
.btn-transparent:hover {
  color: rgb(13, 36, 90);
}

.btn-navbar {
  color: #fff;
  transition: all 0.2s ease;
}
.btn-navbar:hover,
.btn-small:hover,
.btn-transparent:hover {
  color: #f52626;
}

.btn:focus {
  outline: 0px;
  box-shadow: none;
}

.btn-main,
.btn-small,
.btn-transparent {
  background: rgb(247, 87, 87);
  color: #fff;
  transition: all 0.2s ease;
}
.btn-main:hover,
.btn-small:hover,
.btn-transparent:hover {
  background: #f52626;
  color: #fff;
}

.btn-mainn {
  background: rgb(13, 36, 90);
  color: #fff;
  transition: all 0.2s ease;
}
.btn-mainn:hover,
.btn-small:hover,
.btn-transparent:hover {
  background: #f52626;
  color: #fff;
}

.btn-solid-border {
  border: 2px solid rgb(247, 87, 87);
  background: transparent;
  color: #242424;
}
.btn-solid-border:hover {
  border: 2px solid rgb(247, 87, 87);
  background: rgb(247, 87, 87);
}

.btn-transparent {
  background: transparent;
  padding: 0;
  color: rgb(247, 87, 87);
}
.btn-transparent:hover {
  background: transparent;
  color: rgb(247, 87, 87);
}

.btn-large {
  padding: 20px 45px;
}
.btn-large.btn-icon i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-small {
  padding: 13px 25px 10px;
  font-size: 12px;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

@layer utilities {
  .slider {
    @apply relative;
  }
  .slider::before {
    content: "";
    @apply absolute inset-0 w-full h-full bg-gray-950 opacity-50;
  }
  .cta {
    @apply relative;
  }
  .cta::before {
    content: "";
    @apply absolute inset-0 w-full h-full bg-gray-950 opacity-50;
  }
}
